<a href="https://colab.research.google.com/github/mateusmarinho/bootcamp_machine_learning/blob/main/Trabalho_Pr%C3%A1tico_2_Mateus_Marinho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importando as bibliotecas
import numpy as np
import pandas as pd

In [ ]:
# importando os dados para o google colab
from google.colab import files
uploaded = files.upload()

Saving bike-sharing.csv to bike-sharing.csv

In [ ]:
# importando os dados como um dataframe
data = "bike-sharing.csv"
df_bikes = pd.read_csv(data)

In [ ]:
# conhecendo o dataset
df_bikes.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

**a. Qual o tamanho desse dataset?**

In [ ]:
# informa√ß√µes sobre o dataset
df_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [ ]:
df_bikes.shape
print(f'Inst√¢ncias: {df_bikes.shape[0]}\nAtributos: {df_bikes.shape[1]}')

Inst√¢ncias: 17379
Atributos: 17

**b. Qual √© a m√©dia da coluna 'windspeed'?**

In [ ]:
# m√©dia da coluna 'windspeed'
print(f'A m√©dia da coluna windspeed √©: {df_bikes["windspeed"].mean()}')

A m√©dia da coluna windspeed √©: 0.1900976063064631

**c. Qual a m√©dia da coluna 'temp'?**

In [ ]:
# m√©dia da coluna 'temp'
print(f'A m√©dia da coluna temp √©: {df_bikes["temp"].mean()}')

A m√©dia da coluna temp √©: 0.4969871684216586

In [ ]:
# confer√™ncia usando describe()
df_bikes.describe()

           rec_id        season  ...    registered   total_count
count  17379.0000  17379.000000  ...  17379.000000  17379.000000
mean    8690.0000      2.501640  ...    153.786869    189.463088
std     5017.0295      1.106918  ...    151.357286    181.387599
min        1.0000      1.000000  ...      0.000000      1.000000
25%     4345.5000      2.000000  ...     34.000000     40.000000
50%     8690.0000      3.000000  ...    115.000000    142.000000
75%    13034.5000      3.000000  ...    220.000000    281.000000
max    17379.0000      4.000000  ...    886.000000    977.000000

[8 rows x 16 columns]

**d. Quantos registros existem para o ano de 2011?**

In [ ]:
print(f'Quantidade de registros para o ano de 2011: {df_bikes["year"].eq(0).sum()}')
print(f'Quantidade de registros para o ano de 2011: {(df_bikes["year"] == 0).sum()}')

Quantidade de registros para o ano de 2011: 8645
Quantidade de registros para o ano de 2011: 8645

**e. Quantos registros existem para o ano de 2012?**

In [ ]:
print(f'Quantidade de registros para o ano de 2012: {df_bikes["year"].eq(1).sum()}')

Quantidade de registros para o ano de 2012: 8734

**f. Quantas loca√ß√µes de bicicletas foram efetuadas em 2011?**

In [ ]:
print(f'Quantidade de loca√ß√µes de bicicletas em 2011: {df_bikes["total_count"][df_bikes["year"].eq(0)].sum()}')

Quantidade de loca√ß√µes de bicicletas em 2011: 1243103

**g. Quantas loca√ß√µes de bicicletas foram efetuadas em 2012?**

In [ ]:
print(f'Quantidade de loca√ß√µes de bicicletas em 2012: {df_bikes["total_count"][df_bikes["year"].eq(1)].sum()}')

Quantidade de loca√ß√µes de bicicletas em 2012: 2049576

**h. Qual esta√ß√£o do ano cont√©m a maior m√©dia de loca√ß√µes de bicicletas?**

Descric√£o: 1- inverno, 2- primavera, 3- ver√£o, 4- outono

In [ ]:
df_bikes["total_count"].groupby(df_bikes["season"]).mean()

season
1    111.114569
2    208.344069
3    236.016237
4    198.868856
Name: total_count, dtype: float64

Resposta: 3

**i. Qual esta√ß√£o do ano cont√©m a menor m√©dia de loca√ß√µes de bicicletas?**

Resposta: 1

**j. Qual hor√°rio do dia cont√©m a maior m√©dia de loca√ß√µes de bicicletas?**

In [ ]:
df_bikes["total_count"].groupby(df_bikes["hour"]).mean()

hour
0      53.898072
1      33.375691
2      22.869930
3      11.727403
4       6.352941
5      19.889819
6      76.044138
7     212.064649
8     359.011004
9     219.309491
10    173.668501
11    208.143054
12    253.315934
13    253.661180
14    240.949246
15    251.233196
16    311.983562
17    461.452055
18    425.510989
19    311.523352
20    226.030220
21    172.314560
22    131.335165
23     87.831044
Name: total_count, dtype: float64

Resposta: 17 h

**k. Qual hor√°rio do dia cont√©m a menor m√©dia de loca√ß√µes de bicicletas?**

In [ ]:
Resposta: 4 h

**l. Que dia da semana cont√©m a maior m√©dia de loca√ß√µes de bicicletas?**

Descri√ß√£o: 0- domingo, 1- segunda, 2-ter√ßa, 3- quarta, 4- quinta, 5- sexta, 6- s√°bado

In [ ]:
df_bikes["total_count"].groupby(df_bikes["weekday"]).mean()

weekday
0    177.468825
1    183.744655
2    191.238891
3    191.130505
4    196.436665
5    196.135907
6    190.209793
Name: total_count, dtype: float64

Resposta: 4

**m. Que dia da semana cont√©m a menor m√©dia de loca√ß√µes de bicicletas?**

Resposta: 0

**n. √Äs quartas-feiras (weekday = 3), qual o hor√°rio do dia cont√©m a maior m√©dia de loca√ß√µes de bicicletas?**

In [ ]:
df_bikes["total_count"][df_bikes["weekday"] == 3].groupby(df_bikes["hour"]).mean()

hour
0      34.557692
1      15.336538
2       7.813725
3       4.888889
4       4.968750
5      25.750000
6     107.807692
7     303.980769
8     488.326923
9     238.528846
10    131.894231
11    152.201923
12    193.903846
13    185.826923
14    170.548077
15    181.288462
16    272.961538
17    513.144231
18    494.029126
19    357.504854
20    256.660194
21    194.669903
22    143.689320
23     83.737864
Name: total_count, dtype: float64

Resposta: 17 h

**o. Aos s√°bados (weekday = 6), qual o hor√°rio do dia cont√©m a maior m√©dia de
loca√ß√µes de bicicletas?**

In [ ]:
df_bikes["total_count"][df_bikes["weekday"] == 6].groupby(df_bikes["hour"]).mean()

hour
0      94.304762
1      67.780952
2      50.495238
3      22.885714
4       7.657143
5       8.291262
6      21.000000
7      45.961905
8     114.476190
9     186.790476
10    263.723810
11    328.609524
12    375.380952
13    385.371429
14    381.333333
15    382.428571
16    366.142857
17    334.409524
18    292.048077
19    239.932692
20    180.865385
21    156.000000
22    139.663462
23    115.855769
Name: total_count, dtype: float64

Resposta: 13 h