# **Trabalho Prático do Módulo 3** 

## **Enunciado:**

Neste trabalho, vamos exercitar conceitos sobre medidas de desempenho vistas em aula a partir da modelagem de 3 problemas diferentes. Para o problema de regressão, usaremos a base **diabetes_numeric.csv** e uma **regressão linear**. Para o problema de classificação, usaremos a base **bloodtransf.csv** e um **SVM**. Para o problema de clusterização, vamos utilizar a base **wine.csv** e o algoritmo **kmeans**.

##**Importação de bibliotecas e funções e carregamento dos datasets**

In [1]:
import pandas as pd
import numpy as np
from google.colab import files

# importando função para separar dados de treino e teste
from sklearn.model_selection import train_test_split

# importando métricas de avaliação
from sklearn import metrics

In [2]:
# fazendo o upload dos arquivos .csv
files.upload()

Saving bloodtransf.csv to bloodtransf.csv
Saving diabetes_numeric.csv to diabetes_numeric.csv
Saving wine.csv to wine.csv

{'bloodtransf.csv': b'"V1","V2","V3","V4","Class"\n2,50,12500,98,2\n0,13,3250,28,2\n1,16,4000,35,2\n2,20,5000,45,2\n1,24,6000,77,1\n4,4,1000,4,1\n2,7,1750,14,2\n1,12,3000,35,1\n2,9,2250,22,2\n5,46,11500,98,2\n4,23,5750,58,1\n0,3,750,4,1\n2,10,2500,28,2\n1,13,3250,47,1\n2,6,1500,15,2\n2,5,1250,11,2\n2,14,3500,48,2\n2,15,3750,49,2\n2,6,1500,15,2\n2,3,750,4,2\n2,3,750,4,2\n4,11,2750,28,1\n2,6,1500,16,2\n2,6,1500,16,2\n9,9,2250,16,1\n4,14,3500,40,1\n4,6,1500,14,1\n4,12,3000,34,2\n4,5,1250,11,2\n4,8,2000,21,1\n1,14,3500,58,1\n4,10,2500,28,2\n4,10,2500,28,2\n4,9,2250,26,2\n2,16,4000,64,1\n2,8,2000,28,2\n2,12,3000,47,2\n4,6,1500,16,2\n2,14,3500,57,2\n4,7,1750,22,2\n2,13,3250,53,2\n2,5,1250,16,1\n2,5,1250,16,2\n2,5,1250,16,1\n4,20,5000,69,2\n4,9,2250,28,2\n2,9,2250,36,1\n2,2,500,2,1\n2,2,500,2,1\n2,2,500,2,1\n2,11,2750,46,1\n2,11,2750,46,2\n2,6,1500,22,1\n2,12,3000,52,1\n4,5,1250,14,2\n4,19,4750,69,2\n4,8,2000,26,2\n2,7,1750,28,2\n2,16,4000,81,1\n3,6,1500,21,1\n2,7,1750,29,1\n2,8,2000,35,2\n2,10,2500,49,1\n4,5,1250,16,2\n2,3,750,9,2\n3,16,4000,74,1\n2,4,1000,14,2\n0,2,500,4,1\n4,7,1750,25,1\n1,9,2250,51,1\n2,4,1000,16,1\n2,4,1000,16,1\n4,17,4250,71,2\n2,2,500,4,1\n2,2,500,4,2\n2,2,500,4,2\n2,4,1000,16,2\n2,2,500,4,1\n2,2,500,4,1\n2,2,500,4,1\n4,6,1500,23,2\n2,4,1000,16,1\n2,4,1000,16,1\n2,4,1000,16,1\n2,6,1500,28,2\n2,6,1500,28,1\n4,2,500,4,1\n4,2,500,4,1\n4,2,500,4,1\n2,7,1750,35,2\n4,2,500,4,2\n4,2,500,4,1\n4,2,500,4,1\n4,2,500,4,1\n12,11,2750,23,1\n4,7,1750,28,1\n3,17,4250,86,1\n4,9,2250,38,2\n4,4,1000,14,2\n5,7,1750,26,2\n4,8,2000,34,2\n2,13,3250,76,2\n4,9,2250,40,1\n2,5,1250,26,1\n2,5,1250,26,1\n6,17,4250,70,1\n0,8,2000,59,1\n3,5,1250,26,1\n2,3,750,14,1\n2,10,2500,64,1\n4,5,1250,23,2\n4,9,2250,46,1\n4,5,1250,23,1\n4,8,2000,40,2\n2,12,3000,82,1\n11,24,6000,64,1\n2,7,1750,46,2\n4,11,2750,61,1\n1,7,1750,57,1\n2,11,2750,79,2\n2,3,750,16,2\n4,5,1250,26,2\n2,6,1500,41,2\n2,5,1250,33,2\n2,4,1000,26,1\n2,5,1250,34,1\n4,8,2000,46,2\n2,4,1000,26,1\n4,8,2000,48,2\n2,2,500,10,2\n4,5,1250,28,1\n2,12,3000,95,1\n2,2,500,10,1\n4,6,1500,35,1\n2,11,2750,88,1\n2,3,750,19,1\n2,5,1250,37,1\n2,12,3000,98,1\n9,5,1250,19,1\n2,2,500,11,1\n2,9,2250,74,1\n5,14,3500,86,1\n4,3,750,16,1\n4,3,750,16,1\n4,2,500,9,2\n4,3,750,16,2\n6,3,750,14,1\n2,2,500,11,1\n2,2,500,11,2\n2,2,500,11,1\n2,7,1750,58,2\n4,6,1500,39,1\n4,11,2750,78,1\n2,1,250,2,2\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,2\n2,1,250,2,2\n2,1,250,2,2\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n11,10,2500,35,1\n11,4,1000,16,2\n4,5,1250,33,2\n4,6,1500,41,2\n2,3,750,22,1\n4,4,1000,26,2\n10,4,1000,16,1\n2,4,1000,35,1\n4,12,3000,88,1\n13,8,2000,26,1\n11,9,2250,33,1\n4,5,1250,34,1\n4,4,1000,26,1\n8,15,3750,77,1\n4,5,1250,35,2\n4,7,1750,52,1\n4,7,1750,52,1\n2,4,1000,35,1\n11,11,2750,42,1\n2,2,500,14,1\n2,5,1250,47,2\n9,8,2000,38,2\n4,6,1500,47,1\n11,7,1750,29,1\n9,9,2250,45,1\n4,6,1500,52,1\n4,7,1750,58,1\n6,2,500,11,2\n4,7,1750,58,1\n11,9,2250,38,1\n11,6,1500,26,1\n2,2,500,16,1\n2,7,1750,76,1\n11,6,1500,27,1\n11,3,750,14,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,2\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,2\n4,1,250,4,2\n4,1,250,4,1\n4,1,250,4,2\n4,1,250,4,2\n4,1,250,4,1\n4,3,750,24,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,2\n4,1,250,4,1\n10,8,2000,39,1\n14,7,1750,26,1\n8,10,2500,63,1\n11,3,750,15,1\n4,2,500,14,1\n2,4,1000,43,1\n8,9,2250,58,1\n8,8,2000,52,2\n11,22,5500,98,1\n4,3,750,25,2\n11,17,4250,79,2\n9,2,500,11,1\n4,5,1250,46,1\n11,12,3000,58,1\n7,12,3000,86,1\n11,2,500,11,1\n11,2,500,11,1\n11,2,500,11,1\n2,6,1500,75,1\n11,8,2000,41,2\n11,3,750,16,2\n12,13,3250,59,1\n2,3,750,35,1\n16,8,2000,28,1\n11,7,1750,37,1\n4,3,750,28,1\n12,12,3000,58,1\n4,4,1000,41,1\n11,14,3500,73,2\n2,2,500,23,1\n2,3,750,38,2\n4,5,1250,58,1\n4,4,1000,43,2\n3,2,500,23,1\n11,8,2000,46,1\n4,7,1750,82,1\n13,4,1000,21,1\n16,11,2750,40,1\n16,7,1750,28,1\n7,2,500,16,1\n4,5,1250,58,1\n4,5,1250,58,1\n4,4,1000,46,1\n14,13,3250,57,1\n4,3,750,34,1\n14,18,4500,78,1\n11,8,2000,48,1\n14,16,4000,70,1\n14,4,1000,22,2\n14,5,1250,26,1\n8,2,500,16,1\n11,5,1250,33,1\n11,2,500,14,1\n4,2,500,23,1\n9,2,500,16,2\n14,5,1250,28,2\n14,3,750,19,2\n14,4,1000,23,2\n16,12,3000,50,1\n11,4,1000,28,1\n11,5,1250,35,1\n11,5,1250,35,1\n2,4,1000,70,1\n14,5,1250,28,1\n14,2,500,14,1\n14,2,500,14,1\n14,2,500,14,1\n14,2,500,14,1\n14,2,500,14,1\n14,2,500,14,1\n2,3,750,52,1\n14,6,1500,34,1\n11,5,1250,37,2\n4,5,1250,74,1\n11,3,750,23,1\n16,4,1000,23,1\n16,3,750,19,1\n11,5,1250,38,1\n11,2,500,16,1\n12,9,2250,60,1\n9,1,250,9,1\n9,1,250,9,1\n4,2,500,29,1\n11,2,500,17,1\n14,4,1000,26,1\n11,9,2250,72,2\n11,5,1250,41,1\n15,16,4000,82,1\n9,5,1250,51,2\n11,4,1000,34,1\n14,8,2000,50,2\n16,7,1750,38,1\n14,2,500,16,1\n2,2,500,41,1\n14,16,4000,98,1\n14,4,1000,28,2\n16,7,1750,39,1\n14,7,1750,47,1\n16,6,1500,35,1\n16,6,1500,35,2\n11,7,1750,62,2\n16,2,500,16,1\n16,3,750,21,2\n11,3,750,28,1\n11,7,1750,64,1\n11,1,250,11,2\n9,3,750,34,1\n14,4,1000,30,1\n23,38,9500,98,1\n11,6,1500,58,1\n11,1,250,11,1\n11,1,250,11,1\n11,1,250,11,1\n11,1,250,11,1\n11,1,250,11,1\n11,1,250,11,1\n11,1,250,11,1\n11,1,250,11,1\n11,2,500,21,1\n11,5,1250,50,1\n11,2,500,21,1\n16,4,1000,28,1\n4,2,500,41,1\n16,6,1500,40,1\n14,3,750,26,1\n9,2,500,26,1\n21,16,4000,64,1\n14,6,1500,51,1\n11,2,500,24,1\n4,3,750,71,1\n21,13,3250,57,1\n11,6,1500,71,1\n14,2,500,21,2\n23,15,3750,57,1\n14,4,1000,38,1\n11,2,500,26,1\n16,5,1250,40,2\n4,2,500,51,2\n14,3,750,31,1\n4,2,500,52,1\n9,4,1000,65,1\n14,4,1000,40,1\n11,3,750,40,2\n14,5,1250,50,1\n14,1,250,14,1\n14,1,250,14,1\n14,1,250,14,1\n14,1,250,14,1\n14,1,250,14,1\n14,1,250,14,1\n14,1,250,14,1\n14,1,250,14,1\n14,7,1750,72,1\n14,1,250,14,1\n14,1,250,14,1\n9,3,750,52,1\n14,7,1750,73,1\n11,4,1000,58,1\n11,4,1000,59,1\n4,2,500,59,1\n11,4,1000,61,1\n16,4,1000,40,1\n16,10,2500,89,1\n21,2,500,21,2\n21,3,750,26,1\n16,8,2000,76,1\n21,3,750,26,2\n18,2,500,23,1\n23,5,1250,33,1\n23,8,2000,46,1\n16,3,750,34,1\n14,5,1250,64,1\n14,3,750,41,1\n16,1,250,16,1\n16,1,250,16,1\n16,1,250,16,1\n16,1,250,16,1\n16,1,250,16,1\n16,1,250,16,1\n16,1,250,16,1\n16,4,1000,45,1\n16,1,250,16,1\n16,1,250,16,1\n16,1,250,16,1\n16,1,250,16,1\n16,1,250,16,1\n16,2,500,26,1\n21,2,500,23,1\n16,2,500,27,1\n21,2,500,23,1\n21,2,500,23,1\n14,4,1000,57,1\n16,5,1250,60,1\n23,2,500,23,1\n14,5,1250,74,1\n23,3,750,28,1\n16,3,750,40,1\n9,2,500,52,1\n9,2,500,52,1\n16,7,1750,87,2\n14,4,1000,64,1\n14,2,500,35,1\n16,7,1750,93,1\n21,2,500,25,1\n14,3,750,52,1\n23,14,3500,93,1\n18,8,2000,95,1\n16,3,750,46,1\n11,3,750,76,1\n11,2,500,52,1\n11,3,750,76,1\n23,12,3000,86,1\n21,3,750,35,1\n23,2,500,26,1\n23,2,500,26,1\n23,8,2000,64,1\n16,3,750,50,1\n23,3,750,33,1\n21,3,750,38,1\n23,2,500,28,1\n21,1,250,21,1\n21,1,250,21,1\n21,1,250,21,1\n21,1,250,21,1\n21,1,250,21,1\n21,1,250,21,1\n21,1,250,21,1\n21,1,250,21,1\n21,1,250,21,1\n21,1,250,21,2\n21,1,250,21,1\n21,1,250,21,1\n21,5,1250,60,1\n23,4,1000,45,1\n21,4,1000,52,1\n22,1,250,22,2\n11,2,500,70,1\n23,5,1250,58,1\n23,3,750,40,1\n23,3,750,41,1\n14,3,750,83,1\n21,2,500,35,1\n26,5,1250,49,2\n23,6,1500,70,1\n23,1,250,23,1\n23,1,250,23,1\n23,1,250,23,1\n23,1,250,23,1\n23,1,250,23,1\n23,1,250,23,1\n23,1,250,23,1\n23,1,250,23,1\n23,4,1000,53,1\n21,6,1500,86,1\n23,3,750,48,1\n21,2,500,41,1\n21,3,750,64,1\n16,2,500,70,1\n21,3,750,70,1\n23,4,1000,87,1\n23,3,750,89,1\n23,2,500,87,1\n35,3,750,64,1\n38,1,250,38,1\n38,1,250,38,1\n40,1,250,40,1\n74,1,250,74,1\n2,43,10750,86,2\n6,22,5500,28,2\n2,34,8500,77,2\n2,44,11000,98,1\n0,26,6500,76,2\n2,41,10250,98,2\n3,21,5250,42,2\n2,11,2750,23,1\n2,21,5250,52,2\n2,13,3250,32,2\n4,4,1000,4,2\n2,11,2750,26,1\n2,11,2750,28,1\n3,14,3500,35,1\n4,16,4000,38,2\n4,6,1500,14,1\n3,5,1250,12,2\n4,33,8250,98,2\n3,10,2500,33,2\n4,10,2500,28,2\n2,11,2750,40,2\n2,11,2750,41,2\n4,13,3250,39,2\n1,10,2500,43,2\n4,9,2250,28,1\n2,4,1000,11,1\n2,5,1250,16,2\n2,15,3750,64,1\n5,24,6000,79,1\n2,6,1500,22,2\n4,5,1250,16,2\n2,4,1000,14,2\n4,8,2000,28,1\n2,4,1000,14,1\n2,6,1500,26,1\n4,5,1250,16,2\n2,7,1750,32,2\n2,6,1500,26,2\n2,8,2000,38,2\n2,2,500,4,2\n2,6,1500,28,2\n2,10,2500,52,1\n4,16,4000,70,2\n4,2,500,4,2\n1,14,3500,95,1\n4,2,500,4,2\n7,14,3500,48,1\n2,3,750,11,1\n2,12,3000,70,2\n4,7,1750,32,2\n4,4,1000,16,1\n2,6,1500,35,2\n4,6,1500,28,2\n2,3,750,14,1\n2,4,1000,23,1\n4,4,1000,18,1\n5,6,1500,28,1\n4,6,1500,30,1\n14,5,1250,14,1\n3,8,2000,50,1\n4,11,2750,64,2\n4,9,2250,52,1\n4,16,4000,98,2\n7,10,2500,47,1\n4,14,3500,86,1\n2,9,2250,75,1\n4,6,1500,35,1\n4,9,2250,55,1\n4,6,1500,35,2\n2,6,1500,45,1\n2,6,1500,47,1\n4,2,500,9,1\n2,2,500,11,2\n2,2,500,11,1\n2,2,500,11,2\n4,6,1500,38,2\n3,4,1000,29,2\n9,9,2250,38,1\n11,5,1250,18,1\n2,3,750,21,1\n2,1,250,2,1\n2,1,250,2,2\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,2\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n2,1,250,2,1\n11,11,2750,38,1\n2,3,750,22,1\n9,11,2750,49,2\n5,11,2750,75,1\n3,5,1250,38,1\n3,1,250,3,2\n4,6,1500,43,1\n2,3,750,24,1\n12,11,2750,39,1\n2,2,500,14,1\n4,6,1500,46,1\n9,3,750,14,1\n14,8,2000,26,1\n4,2,500,13,1\n4,11,2750,95,1\n2,7,1750,77,1\n2,7,1750,77,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,2\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,1\n4,1,250,4,2\n4,1,250,4,1\n4,7,1750,62,1\n4,1,250,4,1\n4,4,1000,34,2\n11,6,1500,28,1\n13,3,750,14,2\n7,5,1250,35,1\n9,9,2250,54,1\n11,2,500,11,1\n2,5,1250,63,1\n7,11,2750,89,1\n8,9,2250,64,1\n2,2,500,22,1\n6,3,750,26,1\n12,15,3750,71,1\n13,3,750,16,1\n11,16,4000,89,1\n4,5,1250,58,1\n14,7,1750,35,1\n11,4,1000,27,1\n7,9,2250,89,2\n11,8,2000,52,2\n7,5,1250,52,1\n11,6,1500,41,1\n10,5,1250,38,1\n14,2,500,14,2\n14,2,500,14,1\n14,2,500,14,1\n2,2,500,33,1\n11,3,750,23,1\n14,8,2000,46,1\n9,1,250,9,1\n16,5,1250,27,1\n14,4,1000,26,1\n4,2,500,30,1\n14,3,750,21,1\n16,16,4000,77,1\n4,2,500,31,1\n14,8,2000,50,1\n11,3,750,26,1\n14,7,1750,45,1\n15,5,1250,33,1\n16,2,500,16,1\n16,3,750,21,1\n11,8,2000,72,1\n11,1,250,11,1\n11,1,250,11,1\n11,1,250,11,1\n11,1,250,11,2\n11,1,250,11,1\n2,3,750,75,2\n2,3,750,77,1\n16,4,1000,28,1\n16,15,3750,87,1\n16,14,3500,83,1\n16,10,2500,62,1\n16,3,750,23,1\n14,3,750,26,1\n23,19,4750,62,1\n11,7,1750,75,1\n14,3,750,28,1\n20,14,3500,69,2\n4,2,500,46,1\n11,2,500,25,1\n11,3,750,37,1\n16,4,1000,33,1\n21,7,1750,38,1\n13,7,1750,76,1\n16,6,1500,50,1\n14,3,750,33,1\n14,1,250,14,1\n14,1,250,14,1\n14,1,250,14,1\n14,1,250,14,1\n14,1,250,14,1\n14,1,250,14,1\n17,7,1750,58,2\n14,3,750,35,1\n14,3,750,35,1\n16,7,1750,64,1\n21,2,500,21,1\n16,3,750,35,1\n16,1,250,16,1\n16,1,250,16,1\n16,1,250,16,1\n16,1,250,16,1\n16,1,250,16,1\n14,2,500,29,1\n11,4,1000,74,1\n11,2,500,38,2\n21,6,1500,48,1\n23,2,500,23,1\n23,6,1500,45,1\n14,2,500,35,2\n16,6,1500,81,1\n16,4,1000,58,1\n16,5,1250,71,1\n21,2,500,26,1\n21,3,750,35,1\n21,3,750,35,1\n23,8,2000,69,1\n21,3,750,38,1\n23,3,750,35,1\n21,3,750,40,1\n23,2,500,28,1\n21,1,250,21,1\n21,1,250,21,1\n25,6,1500,50,1\n21,1,250,21,1\n21,1,250,21,1\n23,3,750,39,1\n21,2,500,33,1\n14,3,750,79,1\n23,1,250,23,2\n23,1,250,23,1\n23,1,250,23,1\n23,1,250,23,1\n23,1,250,23,1\n23,1,250,23,1\n23,1,250,23,1\n23,4,1000,52,1\n23,1,250,23,1\n23,7,1750,88,1\n16,3,750,86,1\n23,2,500,38,1\n21,2,500,52,1\n23,3,750,62,1\n39,1,250,39,1\n72,1,250,72,1\n',
 'diabetes_numeric.csv': b'"age","deficit","c_peptide"\n5.2,-8.1,4.8\n8.8,-16.1,4.1\n10.5,-.9,5.2\n10.6,-7.8,5.5\n10.4,-29,5\n1.8,-19.2,3.4\n12.7,-18.9,3.4\n15.6,-10.6,4.9\n5.8,-2.8,5.6\n1.9,-25,3.7\n2.2,-3.1,3.9\n4.8,-7.8,4.5\n7.9,-13.9,4.8\n5.2,-4.5,4.9\n.9,-11.6,3\n11.8,-2.1,4.6\n7.9,-2,4.8\n11.5,-9,5.5\n10.6,-11.2,4.5\n8.5,-.2,5.3\n11.1,-6.1,4.7\n12.8,-1,6.6\n11.3,-3.6,5.1\n1,-8.2,3.9\n14.5,-.5,5.7\n11.9,-2,5.1\n8.1,-1.6,5.2\n13.8,-11.9,3.7\n15.5,-.7,4.9\n9.8,-1.2,4.8\n11,-14.3,4.4\n12.4,-.8,5.2\n11.1,-16.8,5.1\n5.1,-5.1,4.6\n4.8,-9.5,3.9\n4.2,-17,5.1\n6.9,-3.3,5.1\n13.2,-.7,6\n9.9,-3.3,4.9\n12.5,-13.6,4.1\n13.2,-1.9,4.6\n8.9,-10,4.9\n10.8,-13.5,5.1\n',

In [119]:
# carregando os dataframes
df_blood = pd.read_csv('bloodtransf.csv')
df_diabetes = pd.read_csv('diabetes_numeric.csv')
df_wine = pd.read_csv('wine.csv')

##**Conhecendo os dataframes**

In [13]:
df_diabetes.head(10)

    age  deficit  c_peptide
0   5.2     -8.1        4.8
1   8.8    -16.1        4.1
2  10.5     -0.9        5.2
3  10.6     -7.8        5.5
4  10.4    -29.0        5.0
5   1.8    -19.2        3.4
6  12.7    -18.9        3.4
7  15.6    -10.6        4.9
8   5.8     -2.8        5.6
9   1.9    -25.0        3.7

In [14]:
df_blood.head(10)

   V1  V2     V3  V4  Class
0   2  50  12500  98      2
1   0  13   3250  28      2
2   1  16   4000  35      2
3   2  20   5000  45      2
4   1  24   6000  77      1
5   4   4   1000   4      1
6   2   7   1750  14      2
7   1  12   3000  35      1
8   2   9   2250  22      2
9   5  46  11500  98      2

In [15]:
df_wine.head(10)

   class  Alcohol  Malic_acid  ...   Hue  OD280%2FOD315_of_diluted_wines  Proline
0      1    14.23        1.71  ...  1.04                            3.92     1065
1      1    13.20        1.78  ...  1.05                            3.40     1050
2      1    13.16        2.36  ...  1.03                            3.17     1185
3      1    14.37        1.95  ...  0.86                            3.45     1480
4      1    13.24        2.59  ...  1.04                            2.93      735
5      1    14.20        1.76  ...  1.05                            2.85     1450
6      1    14.39        1.87  ...  1.02                            3.58     1290
7      1    14.06        2.15  ...  1.06                            3.58     1295
8      1    14.83        1.64  ...  1.08                            2.85     1045
9      1    13.86        1.35  ...  1.01                            3.55     1045

[10 rows x 14 columns]

##**Quantidade de instâncias e features dos datasets**

In [80]:
print('Base de dados de regressão (Instâncias, Atributos):')
df_diabetes.shape

Base de dados de regressão (Instâncias, Atributos):

(43, 3)

In [81]:
print('Base de dados de classificação (Instâncias, Atributos):')
df_blood.shape

Base de dados de classificação (Instâncias, Atributos):

(748, 5)

In [82]:
print('Base de dados de clusterização (Instâncias, Atributos):')
df_wine.shape

Base de dados de clusterização (Instâncias, Atributos):

(178, 13)

In [122]:
# a base de clusterização tem 3 classes
df_wine['class'].values

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3])

##**Verificação da existência de dados faltantes**

###*Dataset: diabetes_numeric.csv*

In [88]:
# estrutura do dataset
df_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        43 non-null     float64
 1   deficit    43 non-null     float64
 2   c_peptide  43 non-null     float64
dtypes: float64(3)
memory usage: 1.1 KB

In [89]:
# estatísticas do dataset
df_diabetes.describe()

             age    deficit  c_peptide
count  43.000000  43.000000  43.000000
mean    9.032558  -8.148837   4.746512
std     4.022539   7.123080   0.720565
min     0.900000 -29.000000   3.000000
25%     5.500000 -12.700000   4.450000
50%    10.400000  -7.800000   4.900000
75%    11.850000  -2.000000   5.100000
max    15.600000  -0.200000   6.600000

In [90]:
# contagem de valores nulos por coluna
df_diabetes.isnull().sum()

age          0
deficit      0
c_peptide    0
dtype: int64

###*Dataset: bloodtransf.csv*

In [91]:
# estrutura do dataset
df_blood.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      748 non-null    int64
 1   V2      748 non-null    int64
 2   V3      748 non-null    int64
 3   V4      748 non-null    int64
 4   Class   748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [92]:
# estatísticas do dataset
df_blood.describe()

               V1          V2            V3          V4       Class
count  748.000000  748.000000    748.000000  748.000000  748.000000
mean     9.506684    5.514706   1378.676471   34.282086    1.237968
std      8.095396    5.839307   1459.826781   24.376714    0.426124
min      0.000000    1.000000    250.000000    2.000000    1.000000
25%      2.750000    2.000000    500.000000   16.000000    1.000000
50%      7.000000    4.000000   1000.000000   28.000000    1.000000
75%     14.000000    7.000000   1750.000000   50.000000    1.000000
max     74.000000   50.000000  12500.000000   98.000000    2.000000

In [93]:
# contagem de valores nulos por coluna
df_blood.isnull().sum()

V1       0
V2       0
V3       0
V4       0
Class    0
dtype: int64

###*Dataset: wine.csv*

In [94]:
# estrutura do dataset
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   class                           178 non-null    int64
 1   Alcohol                         178 non-null    float64
 2   Malic_acid                      178 non-null    float64
 3   Ash                             178 non-null    float64
 4   Alcalinity_of_ash               178 non-null    float64
 5   Magnesium                       178 non-null    int64
 6   Total_phenols                   178 non-null    float64
 7   Flavanoids                      178 non-null    float64
 8   Nonflavanoid_phenols            178 non-null    float64
 9   Proanthocyanins                 178 non-null    float64
 10  Color_intensity                 178 non-null    float64
 11  Hue                             178 non-null    float64
 12  OD280%2FOD315_of_diluted_wines  178 non-null    float64
 13  Proline                         178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [95]:
# estatísticas do dataset
df_wine.describe()

            class     Alcohol  ...  OD280%2FOD315_of_diluted_wines      Proline
count  178.000000  178.000000  ...                      178.000000   178.000000
mean     1.938202   13.000618  ...                        2.611685   746.893258
std      0.775035    0.811827  ...                        0.709990   314.907474
min      1.000000   11.030000  ...                        1.270000   278.000000
25%      1.000000   12.362500  ...                        1.937500   500.500000
50%      2.000000   13.050000  ...                        2.780000   673.500000
75%      3.000000   13.677500  ...                        3.170000   985.000000
max      3.000000   14.830000  ...                        4.000000  1680.000000

[8 rows x 14 columns]

In [96]:
# contagem de valores nulos por coluna
df_wine.isnull().sum()

class                             0
Alcohol                           0
Malic_acid                        0
Ash                               0
Alcalinity_of_ash                 0
Magnesium                         0
Total_phenols                     0
Flavanoids                        0
Nonflavanoid_phenols              0
Proanthocyanins                   0
Color_intensity                   0
Hue                               0
OD280%2FOD315_of_diluted_wines    0
Proline                           0
dtype: int64

##**Modelo de regressão linear: diabetes_numeric.csv**

In [97]:
# separando os conjuntos de treino e teste
X = np.array(df_diabetes[['age', 'deficit']])
y = np.array(df_diabetes['c_peptide'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [98]:
# importando o moddelo de regressão linear
from sklearn.linear_model import LinearRegression

regression = LinearRegression()

In [99]:
# treinando o modelo com o conjunto de treino
regression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [100]:
# aplicando o modelo treinado para previsão
y_pred = regression.predict(X_test)

In [101]:
p = pd.DataFrame({'Real': y_test, 'Previsto': y_pred})
p.head(10)

   Real  Previsto
0   6.0  5.256343
1   5.7  5.355738
2   5.1  5.118052
3   5.1  4.716996
4   3.9  4.348632
5   4.1  4.750498
6   5.0  4.056830
7   4.8  4.413207
8   5.6  4.656556
9   5.5  4.820646

In [102]:
# avaliando o modelo
print('R2: ', metrics.r2_score(y_test, y_pred))
print('MAE: ', metrics.mean_absolute_error(y_test, y_pred))
print('MSE: ', metrics.mean_squared_error(y_test, y_pred))

R2:  0.21880597788432865
MAE:  0.6107422323514549
MSE:  0.47452694731819717

##**Modelo de classificação: bloodtransf.csv**

In [103]:
# separando os conjuntos de treino e teste
X = np.array(df_blood[['V1', 'V2', 'V3', 'V4']])
y = np.array(df_blood['Class'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [104]:
# importando o modelo SVM
from sklearn.svm import SVC

classifier = SVC(kernel='rbf')

In [105]:
# treinando o modelo SVM
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [106]:
# aplicando o modelo treinado para previsão
y_pred = classifier.predict(X_test)

In [107]:
p = pd.DataFrame({'Real': y_test, 'Previsto': y_pred})
p.head(10)

   Real  Previsto
0     1         1
1     1         1
2     1         1
3     1         1
4     1         1
5     1         1
6     1         1
7     1         1
8     1         1
9     1         1

In [108]:
# avaliando o modelo
print('Acurácia: ', metrics.accuracy_score(y_test, y_pred))
print('Precision: ', metrics.precision_score(y_test, y_pred))
print('Recall: ', metrics.recall_score(y_test, y_pred))
print('F1: ', metrics.f1_score(y_test, y_pred))
print('AUROC: ', metrics.roc_auc_score(y_test, y_pred))
print('Matriz de confusão:\n', metrics.confusion_matrix(y_test, y_pred))

Acurácia:  0.7486631016042781
Precision:  0.7473118279569892
Recall:  1.0
F1:  0.8553846153846154
AUROC:  0.5104166666666666
Matriz de confusão:
 [[139   0]
 [ 47   1]]

In [109]:
# imprimindo relatório de métricas de qualidade
print('Classification Report:\n', metrics.classification_report(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           1       0.75      1.00      0.86       139
           2       1.00      0.02      0.04        48

    accuracy                           0.75       187
   macro avg       0.87      0.51      0.45       187
weighted avg       0.81      0.75      0.65       187

##**Modelo de clusterização: wine.csv**

In [110]:
# criando um dicionário de dados para o mapeamento
classes = {1: 0, 2: 1, 3: 2}

#substituindo os valores categóricos na coluna 'class' pelo mapeamento
df_wine['class'] = df_wine['class'].map(classes)

# verificando
df_wine.head(10)

   class  Alcohol  Malic_acid  ...   Hue  OD280%2FOD315_of_diluted_wines  Proline
0      0    14.23        1.71  ...  1.04                            3.92     1065
1      0    13.20        1.78  ...  1.05                            3.40     1050
2      0    13.16        2.36  ...  1.03                            3.17     1185
3      0    14.37        1.95  ...  0.86                            3.45     1480
4      0    13.24        2.59  ...  1.04                            2.93      735
5      0    14.20        1.76  ...  1.05                            2.85     1450
6      0    14.39        1.87  ...  1.02                            3.58     1290
7      0    14.06        2.15  ...  1.06                            3.58     1295
8      0    14.83        1.64  ...  1.08                            2.85     1045
9      0    13.86        1.35  ...  1.01                            3.55     1045

[10 rows x 14 columns]

In [111]:
# separando os conjuntos de treino e teste
y = np.array(df_wine['class'])
df_wine = df_wine.drop('class', axis = 1)
X = np.array(df_wine)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [112]:
# importando o modelo K-means
from sklearn.cluster import KMeans

clustering = KMeans(n_clusters = 3, random_state = 42)

In [113]:
# treinando o modelo com o conjunto de treino
clustering.fit(X_train)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=42, tol=0.0001, verbose=0)

In [114]:
# aplicando o modelo treinado para previsão
y_pred = clustering.predict(X_test)

In [115]:
p = pd.DataFrame({'Real': y_test, 'Previsto': y_pred})
p.head(10)

   Real  Previsto
0     0         2
1     0         0
2     2         1
3     0         0
4     1         1
5     0         0
6     1         1
7     2         2
8     1         2
9     2         2

In [116]:
# avaliando o modelo
print('Coeficiente de silhueta: ', metrics.silhouette_score(X_test, y_pred))
print('Davies-Bouldin Score: ', metrics.davies_bouldin_score(X_test, y_pred))
print('Mutual information: ', metrics.mutual_info_score(y_test, y_pred))

Coeficiente de silhueta:  0.5519241838976592
Davies-Bouldin Score:  0.5415115100039721
Mutual information:  0.526053317723497